python -m pip install django
python -m pip install google-cloud-storage
python -m pip install pandas
python -m pip install numpy
python -m pip install scikit-surprise
python -m pip install scipy
python -m pip install gcsfs

